<?xml version="1.0" encoding="utf-8"?>
<!--@PREPROC:  ./proc/pre.sh-->
<!--@POSTPROC: ./proc/post.sh-->
<module suppressWarnings="true">

<Login f="nodata">
  <Group_Login>
    <Group_Name t="dropdown" f="user"/>
    <Log_in  t="button"/>
    <Sign_up t="button"/>
  </Group_Login>
</Login>

<Control f="nodata">
  <Main f="noscroll">
    <Add_New_Site t="button" l="Site"/>
    <autonum/>
    <List_of_Sites t="list" e="Site"/>
  </Main>
  <search/>
</Control>

<Site>
  <Site_Info>
    <Site_Site_Name f="id">
      Site Name
      <str>
        <pos>1</pos>
        <fmt>SITE-$2</fmt>
      </str>
    </Site_Site_Name>
    <gps/>
    <Comments/>
    <Add_New_Record   t="button"   lc="Site_Record"/>
    <Existing_Records t="dropdown" ec="Site_Record"/>
  </Site_Info>
</Site>

<Site_Record>
  <Record>
    <cols>
      <Site_Record_Site_Name f="id">
        Site Name
        <str>
          <pos>3</pos>
          <fmt>$2-</fmt>
        </str>
      </Site_Record_Site_Name>
      <Site_Record_ID f="id autonum">
        <str>
          <pos>1</pos>
          <fmt>REC-$2-</fmt>
        </str>
      </Site_Record_ID>
    </cols>
    <cols>
      <author f="id readonly">
        Recorded by Group
        <str>
          <pos>2</pos>
          <fmt>$2-</fmt>
        </str>
      </author>
      <Data_recorded_by>
        <desc>Name of the person recording the data.</desc>
      </Data_recorded_by>
    </cols>
    <Check_in t="button" f="readonly"/>
    <Time_Checked_in f="id">
      <str>
        <pos>4</pos>
        <fmt>$2</fmt>
      </str>
    </Time_Checked_in>
    <Last_Rainfall>
      <desc>
        1 = Within 24 hours, 2 = 1-3 days, 3 = 4-7 days, 4 = &gt; 7 days,
        Blank = Unknown
      </desc>
      <opts>
        <opt>Within 24 hours</opt>
        <opt>1-3 days</opt>
        <opt>4-7 days</opt>
        <opt>&gt; 7 days</opt>
      </opts>
    </Last_Rainfall>
    <Rainfall_Description>
      <desc>
        1 = Light, 2 = Medium, 3 = Heavy
      </desc>
      <opts>
        <opt>Light</opt>
        <opt>Medium</opt>
        <opt>Heavy</opt>
      </opts>
    </Rainfall_Description>
    <Flow_magnitude>
      <desc>
        1 = No flow, 2 = Low Flow, 3 = Medium Flow, 4 = High Flow, 5 = Over Bank
        Flow
      </desc>
      <opts>
        <opt>No flow</opt>
        <opt>Low Flow</opt>
        <opt>Medium Flow</opt>
        <opt>High Flow</opt>
        <opt>Over Bank Flow</opt>
      </opts>
    </Flow_magnitude>
    <Observation>
      <desc>
        Please note down any visible pollution, wildlife present, odour etc.
      </desc>
    </Observation>
  </Record>
  <Parameters>
    <cols>
      <Available_Phosphate_mg_L b="decimal" f="notnull">
        Available Phosphate (mg/L)
      </Available_Phosphate_mg_L>
      <AP_Exception t="radio" f="nocertainty noannotation">
        <!--@SOURCE: vocabs/exception.xml-->
      </AP_Exception>
    </cols>
    <cols>
      <Dissolved_Oxygen_mh_L b="decimal" f="notnull">
        Dissolved Oxygen (mh/L)
      </Dissolved_Oxygen_mh_L>
      <DO_Exception t="radio" f="nocertainty noannotation">
        <!--@SOURCE: vocabs/exception.xml-->
      </DO_Exception>
    </cols>
    <cols>
      <Ecoli_Petrifilm_CFU_100mL b="decimal" f="notnull">
        Ecoli - Petrifilm (CFU/100mL)
      </Ecoli_Petrifilm_CFU_100mL>
      <Ecoli_Exception t="radio" f="nocertainty noannotation">
        <!--@SOURCE: vocabs/exception.xml-->
      </Ecoli_Exception>
    </cols>
    <cols>
      <Electrical_Conductivity b="decimal" f="notnull"/>
      <col>
        <EC_Units t="radio" f="nocertainty noannotation">
          <opts>
            <opt>μs/cm</opt>
            <opt>mS/cm</opt>
          </opts>
        </EC_Units>
        <EC_Exception t="radio" f="nocertainty noannotation">
          <!--@SOURCE: vocabs/exception.xml-->
        </EC_Exception>
      </col>
    </cols>
    <cols>
      <Turbidity_NTU b="decimal" f="notnull">
        Turbidity (NTU)
      </Turbidity_NTU>
      <Turb_NTU_Exception t="radio" f="nocertainty noannotation">
        Turb. NTU Exception
        <!--@SOURCE: vocabs/exception.xml-->
      </Turb_NTU_Exception>
    </cols>
    <cols>
      <Turbidity_FTU_FAU b="decimal" f="notnull">
        Turbidity (FTU/FAU)
      </Turbidity_FTU_FAU>
      <Turb_FTU_FAU_Exception t="radio" f="nocertainty noannotation">
        Turb. FTU/FAU Exception
        <!--@SOURCE: vocabs/exception.xml-->
      </Turb_FTU_FAU_Exception>
    </cols>
    <cols>
      <Temperature_C b="decimal" f="notnull">
        Temperature (°C)
      </Temperature_C>
      <Temp_Exception t="radio" f="nocertainty noannotation">
        Temp. Exception
        <!--@SOURCE: vocabs/exception.xml-->
      </Temp_Exception>
    </cols>
    <cols>
      <pH b="decimal" f="notnull"/>
      <pH_Exception t="radio" f="nocertainty noannotation">
        <!--@SOURCE: vocabs/exception.xml-->
      </pH_Exception>
    </cols>
    <cols>
      <Nitrate_mg_L b="decimal" f="notnull">
        Nitrate (mg/L)
      </Nitrate_mg_L>
      <NO3_Exception t="radio" f="nocertainty noannotation">
        <!--@SOURCE: vocabs/exception.xml-->
      </NO3_Exception>
    </cols>
    <cols>
      <col>
        <Other_Test_Name/>
        <Other_Test_Values b="decimal"/>
      </col>
      <Other_Test_Exception t="radio">
        <!--@SOURCE: vocabs/exception.xml-->
      </Other_Test_Exception>
    </cols>
    <Comments>
      <desc>
        "Report unusual results or changes to your sampling site to your
        regional coordinator on: 02 9320 6422. Pollution incident reporting
        information is available on the website."
      </desc>
    </Comments>
    <Check_out t="button" f="readonly"/>
    <Time_Checked_out/>
  </Parameters>
</Site_Record>

<logic><![CDATA[
  <!--@SOURCE: logic/inheritance.bsh-->
  <!--@SOURCE: logic/check-in-out-button.bsh-->
  <!--@SOURCE: logic/login.bsh-->
  <!--@SOURCE: logic/copying.bsh-->
]]></logic>
</module>
